/* Circle LoadingBar */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
.loading-bro {
    top: 25%;
    left: 45%;
    /*padding: 25% 25%;*/
    /*margin: 25% auto;*/
    width: 150px;
    position: fixed;
}

.loading-bro > h1 {
    width: 75%;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #8E8E8E;
}

#load {
    width: 75%;
    animation: loading 3s linear infinite;
}

#load #loading-inner {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 10;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    animation: loading-circle 2s linear infinite;
    stroke: #51BBA7;
    fill: transparent;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-circle {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -600;
    }
}

/*Постеры фильмов*/
a {
    text-decoration: none;
}

.unvisible {
    display: none;
}

.testPoster:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .14), 0 5px 3px -4px rgba(0, 0, 0, .2), 0 3px 7px 0 rgba(0, 0, 0, .12);
}

.testTitle:hover {
}

.testCell:hover {
    cursor: pointer;
    color: red;
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}


/*MENU*/
.menu{
position:fixed;
background-color: #0091ea;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
/*-webkit-box-orient: vertical;*/
/*-webkit-box-direction: normal;*/
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
/*-webkit-flex-direction: column;*/
/*-ms-flex-direction: column;*/
/*flex-direction: column;*/
-webkit-flex-wrap: nowrap;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
box-sizing: border-box;
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
/*min-width: 90%;*/
/*margin-right: 17px;*/
/*margin-left: half-width;*/
padding: 15px;
border: none;
/*min-height: 50px;*/
max-height: 1000px;
height: 48px;
z-index: 3;
/*background-color: rgb(244, 67, 54);*/
color: rgb(255, 255, 255);
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
-webkit-transition-duration: .2s;
transition-duration: .2s;
-webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
transition-timing-function: cubic-bezier(.4, 0, .2, 1);
-webkit-transition-property: max-height, box-shadow;
transition-property: max-height, box-shadow;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-self: stretch;
-ms-flex-item-align: stretch;
align-self: stretch;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center}

/*POPUP*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 997;
    /*cursor: pointer;*/
}

.popupShow {
    display: none;
    position: absolute;
    z-index: 999 !important;
    /*width: 75%;*/
    min-height: 800px;
    /*margin: 5% 12.5%;*/
    background: #FFF;
    cursor: default;
}

.popupCloseBtn {
    /*left:85%;*/
    /*bottom:90%;*/
}

.fixed {
    overflow: hidden;
    position: fixed;
    /*display: none;*/
}

.marg {
    margin-left: 17px;
    margin-right: 17px;
}